/*import font from google font*/
@import url('https://fonts.googleapis.com/css?family=Anton|Gugi|Lato|Roboto|Sofia&display=swap');

:root{
    --light-gray:#2b3032a1;
    --primary-color:#45ccb8;
    --border:#2b303218;
    --text-color:#ff686b;
    --robot:"Roboto",sans-serif;
    --gugi:"Gugi",cursive;
    --sofia:"Sofia",cursive;
}

.primary-color{
    color:var(--primary-color);
}

.gb-primary-color{
    background-color: var(--primary-color) !important;
}

.text-color{
    color:var(--text-color);
}

.font-roboto{
    font-family: var(--robot);
}

.lightblue{
    color:lightblue;
}

/*header*/
header{
    background-color: var(--primary-color);
    font-family: var(--robot);
}

h2.site-title{
    font-family: var(--gugi);
}

.container.dropdown-toggle,
.container.dropdown-item{
    font-size:0.7em;
}

.header-links a{
    font-size: 0.9em;
    text-decoration: none;
    color: white;
}


/*Navigation Bar*/

.navbar-nav{
    padding: 0.8em 0em;
}

.navbar-nav .nav-link{
    font-size: 0.9em;
    color:var(--light-gray) !important;
}

.navbar-nav .nav-item.nav-link{
    padding: 01.3em;
}

.basket-icon{
    margin-right: 6.5rem !important;
}



/*Slider one*/
.site-slider{
    position: relative;
}
.position-top{
    position: absolute;
    top:40%;
}
.prev,
.next{
  background-color: var(--primary-color);
  padding: 1rem 1.5rem;
  border-radius: 10rem;
  color: white;
  margin: 01rem;
  opacity: 0;
  transition: opacity 1s ease;
}

.site-slider:hover .next,
.site-slider:hover .prev
{
  opacity: 1;  
}

.right-0{
    right:0;
}


.slick-dots{
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 1rem 0;
    list-style-type: none;
    position: absolute;
    bottom: 0;
    right: 45%;
}


.slick-dots li{
    margin: 0 0.6rem;
}

.slick-dots button{
    display: block;
    width:0.5rem;
    height: 0.5rem;
    padding: 0;
    border:none;
    background-color: white;
    text-indent: -99999px;
    border-radius: 100%;
}

.slick-dots li.slick-active button{
    transform: scale(2.5);
    box-shadow: 0px 3px 5px 1px rgba(0,0,0,205);
}

/*Slider tow*/
